html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.scroll-view {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.viewer {
  margin: auto;
}

.viewport-values {
  background-color: rgba(253, 253, 253, 0.63);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
}
